.cards{
  padding-top: 6% !important;
}
label {
  display: block;
  margin-top: 10px;
}
mat-card {
  width: 34%;
  margin: auto;
  border-radius: 12px;
}
mat-card-content {
  align-items: left;
  margin-top: 20px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bton1{
  float: right;
  font-size: 13px;
}
.button{
  font-size: 13px !important;
  color: aliceblue;
  background-color: #32cdee;
}
.card-container {
  display: flex;
}
.title1{
  text-align: center;
  margin-top: 10px;
}
#background {
  color: #a5efff;
  height: 100vh;
  background: url(../../assets/img/loginSignup.jpg) no-repeat center fixed ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1023px) {
  mat-card.mat-card.mat-focus-indicator.mat-elevation-z12.card-container {
    flex-wrap: wrap;
    max-width: 89%;
  }
  mat-card-content.mat-card-content {
    width: 100%;
  }
  mat-card-content.mat-card-content  {
    right: -23px;
  }
  mat-card.mat-card.mat-focus-indicator.mat-elevation-z12.card-container {
    width: 100% !important;
    margin-top: 30%;
  }
  .fieldwidth{
    width: 100%
  }
  label {
    width: auto;
  }
}
.fontsize {
   font-size: x-large;
   font-family: -webkit-pictograph;
}
.forgot h2 {
   font-size: small;
   font-family: -webkit-pictograph;
   line-height: normal;
}
