<meta name="viewport" content="width=device-width, initial-scale=1">
<div id="background">
  <div class="cards">
    <mat-card class="mat-elevation-z12 card-container" >
      <mat-card-content>
        <form name="form" [formGroup]="form"  (ngSubmit)="form.valid && onSubmit()">
          <mat-card-title class="title1"><strong class="fontsize">Forgot your password?</strong> </mat-card-title>
          <br>
          <div class="forgot">
	                <h2>Enter your email address below. Our system will send you a token to reset your password.</h2>
          </div>
         <div class="form-group fieldwidth">
            <input type="text" class="form-control" placeholder="Enter Your email address" formControlName="email" required="" [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}"   />
            <div *ngIf="form.get('email').touched && form.get('email').invalid"  class="invalid-feedback">
              <div *ngIf="form.get('email').errors.required">Email is required</div>
              <div *ngIf="form.get('email').errors.email">Email must be a valid email Address</div>
            </div>
          </div>
          <div class="butn">
            <button class="btn btn-lg button" [disabled]="!form.valid">
              Send Email
            </button>
            <button mat-raised-button color="accent" class="bton1" routerLink="/login">
              Cancel
            </button>
          </div><br>
           <div
            class="text-danger"
            *ngIf="isSubmitFailed">
            Failed!<br/>{{ errorMessage }}
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
