<div class="title">
  Families Dashboard
  <div class="inner-box">
    family 1 <br>family2<br> family 1 <br>family2<br>
    family 1 <br>family2<br>
    family 1 <br>family2<br>
    family 1 <br>family2<br>
    family 1 <br>family2<br>
    family 1 <br>family2<br>

  </div>
</div>
