<meta name="viewport" content="width=device-width, initial-scale=1">
<div id="background">
  <mat-toolbar class="center tool mat-elevation-z0 ">
    <span href="http://" class="mr-5 link">Why Fazeal?</span>
    <span href="http://" class="mr-5 link">Team</span>
    <span href="http://" class="mr-5 link">Features</span>
    <span href="http://" class="mr-5 link">Pricing</span>
  </mat-toolbar>

  <div class="cards">
    <mat-card class="mat-elevation-z12 card-container">
      <mat-card-content>
        <div class="leftcontent">
          <div class="logo">
            <img src="/assets/img/fazeal-logo-80px.png" />
          </div>
          <div class="welcome">
            <img src="/assets/img/mask1.png" class="logoimg" />
            <strong class="fontsize">Welcome to Fazeal</strong><br>
            <i>10 million+ people have joined our network<br>
              We invite you to join the family<br><br><br><br>
              If you don't have an account</i><br>
            <div class="nav-link" (click)="onNew()"><b>Sign Up</b></div>
            <img src="/assets/img/mask 2.png" class="secimg" />
          </div>
        </div>
      </mat-card-content>

      <mat-card-content>
        <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <mat-card-title class="title1">
            <strong class="fontsize">Sign In</strong>
            <mat-icon class="icon1">facebook</mat-icon>
            <span class="twitt"><i class="bi bi-twitter"></i></span>
          </mat-card-title>
          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" placeholder="Username" class="form-control" name="username"
                [(ngModel)]="form.username" required #username="ngModel" />
            </mat-form-field>
            <div class="text-danger" *ngIf="username.errors && f.submitted">
              Username is required!
            </div>
          </div>
          <div class="form-group">
            <mat-form-field>
              <input matInput type="password" placeholder="Password" class="form-control" name="password"
                [(ngModel)]="form.password" required  #password="ngModel" />
            </mat-form-field>
            <div class="text-danger" *ngIf="password.errors && f.submitted">
              <div *ngIf="password.errors.required">Password is required</div>

            </div>
          </div>
          <div class="form-group">
          <mat-checkbox color="primary" [checked]="isRememberMe" (change)="isRememberMe = !isRememberMe">Remember Me</mat-checkbox>
          </div>
          <div class="center butn">
            <button class="btn btn-lg button">
              Sign In
            </button><br><br><br>
          </div>
          <div class="linkcen">
                <a routerLink='./resetPassword' class="size">Forgot Password?</a>
            </div>
          <div class="form-group">
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
              Login failed: {{ errorMessage }}
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-toolbar class="center tool2 mat-elevation-z0 footer">
    <span href="http://" class="mr-5 link">Company</span>
    <span href="http://" class="mr-5 link">About</span>
    <span href="http://" class="mr-5 link">Blog</span>
    <span href="http://" class="mr-5 link">Shop</span>
  </mat-toolbar>
  <div class="clear"></div>
</div>
