.leftcontent{
  border-radius: 12px;
  margin-left: 8% !important;
  margin-top: 8% !important;
  margin-bottom: 4% !important;
  margin-right: 5%;
  position: relative;
  background-color: #a6effd;
}

.tool{
  background-color: rgb(104, 211, 238,0.7);
  height:6%;
  border-bottom: 1px solid #a6effd;
}

.tool2{
  background-color: rgb(104, 211, 238,0.7);
  height:6%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #a6effd;
}

.cards{
  padding-top: 4% !important;
   padding-bottom: 5%;
}

.title1{
  padding-bottom: 2%;
}

.icon1{
  position: absolute;
  right:5%;
  color:#3b5998;
}

.logo{
  padding-top: 3%;
  position: absolute;
  right: 10%;
}

label {
  display: block;
  margin-top: 10px;
}

mat-card {
  max-width: 65%;
  margin: auto;
  border-radius: 12px;
}

.link{
  color: white;
  font-size: 17px;
  margin: 0px !important;
  padding: 0 21px;;
}

mat-card-content {
  width:50%;
}

mat-form-field {
  display: block;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center1 {
  display: inline-block;
  text-align: center;
  align-items: center;
}

.linkcen{
  justify-content: center;
}

.butn{
  width: 100% !important;
  display: inline-flex;
}

.button{
  font-size: 16px !important;
  width: 100%;
  color: aliceblue;
  background-color: #32cdee;
  z-index: 9;
}

.card-container {
  display: flex;
}

#background {
  color: #a5efff;
  height: 100vh;
  background: url(../../assets/img/loginSignup.jpg) no-repeat center fixed ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.box{
  margin: 5% auto;
  background-color: #a5efff;
  width: 90%;
}

.welcome{
  padding-top: 35%;
  padding-left: 12%;
  padding-bottom: 8%;
}

.fontsize{
  font-size: xx-large;
  font-family: -webkit-pictograph;
}

.twitt{
  position: absolute;
  right: 9%;
  color:#03d1ff;
}

.logoimg{
  position: absolute;
  left: -35px;
  top: -37px;
  width: 43%;
}

.secimg{
  position: absolute;
  right: 0px;
  bottom: -55px;
  width: 43%;
}

@media (max-width: 1023px) {

  .link{
      padding: 0px 6px;
      font-size: 15px;
  }

  form {
      padding: 0 4% !important;
  }

  .welcome {
      padding-top: 45%;
      padding-left: 5%;
      padding-bottom: 8%;
  }

  .logo {
      padding-top: 9%;
      right: 7%;
  }

  mat-card.mat-card.mat-focus-indicator.mat-elevation-z12.card-container {
    flex-wrap: wrap;
    max-width: 89%;
  }

  mat-card-content.mat-card-content {
    width: 100%;
  }

  mat-card-content.mat-card-content .secimg {
   right: -23px;
  }

  .logoimg {
    left: -24px;
    top: -27px;
  }

  .secimg img, .logoimg img {
    width: 100%;
    max-width: 40% !important;
  }

  mat-toolbar.mat-toolbar.center.mat-elevation-z0.mat-toolbar-single-row {
    position: relative;
  }

  .leftcontent{
    margin-left: 4% !important;
    margin-top: 4% !important;
    margin-right: 4%;
  }

  #background {
    height: auto;
  }

  .twitt{
    position: absolute;
    right:15%;
  }

}

.clear {
  clear: both;
}

form {
  margin-top: 11% !important;
  padding: 0 7%;
}

.footer{
  background-color: rgb(104, 211, 238, 0.7);
  height: 6%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.nav-link {
  display: inline-block;
  font-size: 2rem !important;
  padding-left: 0px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 0px;
  display: inline;
}

.mat-checkbox {
  font-family: -webkit-pictograph;
}

.text-danger {
  margin-top: -10px;
  font-size: smaller;
}

.form-control:focus {
  border-color: #86b7fe00;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}

.form-control {
  border-color: #86b7fe00;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}
