.cards{
  padding-top: 6% !important;
  padding-bottom: 5%;
}
mat-card {
  width: 30%;
  margin: auto;
  border-radius: 12px;
}
mat-card-content {
  margin-top: 20px;
  text-align: left;
  align-content: left;
}
.fieldwid{
  width: 100%;
  margin: auto;
  display: block;
}
.title1{
  padding-top: 20px;
  font-family: -webkit-pictograph;
}
.title1 strong{
  font-weight: normal;
}
.button1{
  font-size: 13px !important;
  color: aliceblue;
  margin-top: 24px;
  background-color: #32cdee;
}
#background {
  color: #a5efff;
  height: 123vh;
  background: url(../../assets/img/loginSignup.jpg) no-repeat center fixed ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.is-invalid {
  border-left: solid 6px red;
}
.material-icons {
  display: inline-flex;
  vertical-align: middle;
}
@media (max-width: 1023px) {
  mat-card.mat-card.mat-focus-indicator.mat-elevation-z12.card-container {
    flex-wrap: wrap;
  }
  mat-card-content.mat-card-content {
    margin: auto;
  }
  mat-card.mat-card.mat-focus-indicator.mat-elevation-z12.card-container {
    max-width: 100% !important;
  }
  .mat-card{
    width: 85%;
    margin-top: 8%;
  }
  #background {
    height: 125%;
  }
}
.fieldwid .title {
  font-family: -webkit-pictograph;
  font-size: medium;
  margin-bottom: 5px;
  font-weight: normal;
}
.text-danger {
  font-size: small;
  font-weight: normal;
}
.logo {
  display: block;
  margin: 0 auto;
}
.text-success {
    font-weight: normal;
}
