<meta name="viewport" content="width=device-width, initial-scale=1">
<div id="background">
  <div class="cards">
    <mat-card class="mat-elevation-z12" >
      <mat-card-content>
      <img  src="./assets/img/fazeal-hor.png" width="55%" class="logo"><br>
        <mat-card-title class="title1"><strong>Password Reset!</strong> </mat-card-title>
        <div *ngIf="!valid"><br><p>Please check your email for token we sent you a token. check spam, it will take few minutes.<p></div>
       <form  [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
         <div class="form-group fieldwid" *ngIf="!valid">
           <label class="title">Enter Token</label>
           <input type="text" formControlName="token" class="form-control"  [ngClass]="passwordForm.controls['token'].invalid ? 'is-invalid' : ''"/>
           <label class="text-danger" *ngIf="passwordForm.controls['token'].hasError('required')">
                      Token is Required!
           </label>
         </div>
         <div class="" *ngIf="valid">
           <p>Please Enter the New Password and Confirm Password!</p>
         </div>
         <div class="form-group fieldwid" *ngIf="valid">
            <label class="title">Password:</label>
            <input id="password" formControlName="password" type="password" class="form-control"   [ngClass]="passwordForm.controls['password'].invalid ? 'is-invalid' : ''">
            <br>
           <div *ngIf="
            (passwordForm.controls['password'].hasError('minlength')) ||
            (passwordForm.controls['password'].hasError('hasNumber')) ||
            (passwordForm.controls['password'].hasError('hasCapitalLetter')) ||
            (passwordForm.controls['password'].hasError('hasSpecialCharacters')) ||
            (passwordForm.controls['password'].hasError('hasSmallLetter'))">
            <label class="col" [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ passwordForm.controls['password'].hasError('required')  ||
                passwordForm.controls['password'].hasError('minlength') ? 'cancel' :
                'check_circle' }}</i>
              Must be at least 8 characters!
            </label>
            <label class="col" [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ passwordForm.controls['password'].hasError('required') ||
                passwordForm.controls['password'].hasError('hasNumber') ? 'cancel' :
                'check_circle' }}</i>
              Must contain at least 1 number!
            </label>
            <label class="col" [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('hasCapitalLetter')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ passwordForm.controls['password'].hasError('required') ||
                passwordForm.controls['password'].hasError('hasCapitalLetter') ? 'cancel' :
                'check_circle' }}</i>
              Must contain at least 1 in Capital Letter!
            </label>
             <label class="col" [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('hasSmallLetter')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ passwordForm.controls['password'].hasError('required') ||
                passwordForm.controls['password'].hasError('hasSmallLetter') ? 'cancel' :
                'check_circle' }}</i>
              Must contain at least 1 in Small Letter!
            </label>
            <label class="col" [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ passwordForm.controls['password'].hasError('required') ||
                passwordForm.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' :
                'check_circle' }}</i>
              Must contain at least 1 Special Character!
            </label>
          </div>
          </div>
          <div class="form-group fieldwid" *ngIf="valid">
            <label class="title">Confirm Password:</label>
            <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control"
              [ngClass]="passwordForm.controls['confirmPassword'].invalid ? 'is-invalid' : ''">
           <label class="text-danger" *ngIf="passwordForm.controls['confirmPassword'].hasError('required')">
              Confirm Password is Required!
            </label>
            <label class="text-danger" *ngIf="passwordForm.controls['confirmPassword'].hasError('NoPassswordMatch')">
              Password do not match
            </label>
          </div>
         <div *ngIf="!valid">
           <button class="btn btn-lg button1" (click)="checkValid()">Check Token</button>
         </div>
         <div class="form-group" *ngIf="valid">
           <button class="btn btn-lg button1">Changed Password</button>
         </div>
         <div class="text-danger" *ngIf="isSubmitFailed">
           Failed!<br/>{{ errorMessage }}
         </div>
         <div class="text-danger" *ngIf="validToken">
           Failed!<br/>{{ errorMessage2 }}
         </div>
       </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
