<div class="header" style="width:99%;">
  <app-dashboardheader></app-dashboardheader>
</div>
<div style="width:100%; display:flex;">
  <div class="box-calendar div">
    <app-calendar></app-calendar>
  </div>
  <div class="box-families box-color div">
    <app-families></app-families>
  </div>
  <div class="box-activity box-color div">
    <app-activity></app-activity>
  </div>


</div>
<div style="width:100%; display:flex;">
  <div class="box-notes box-color div">
    <app-notes></app-notes>
  </div>
  <div class="box-familydashboard box-color div">
    <app-familydashboard></app-familydashboard>
  </div>
  <div class="box-activity box-color div">
    <app-votes></app-votes>
  </div>
</div>
