.div {
  color: #aca9d5 !important;
  font-size: 15px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.box-color{
  border-radius: 15px;
  margin: 5px;
  background-color:#e2f4f5;
}
.inner-box{
  background-color:white;
  border-radius: 15px;

}
.box-calendar{
  margin: 5px;
  margin-left: 16px;
  width: 50%;
}
.box-families{
  padding-block: 6px;
  text-align: center;
  width:20%;
  float:right;
}
.box-activity{
  margin-left: 10px;
  padding-block: 6px;
  text-align: center;
  width:20%;
}
.box-notes{
  margin-left: 10px;
  padding-block: 6px;
  text-align: center;
  width:40%;
}
.box-familydashboard{
  margin-left: 10px;
  padding-block: 6px;
  text-align: center;
  width:30%;
}
