
mat-toolbar {
  background: #ffffff;
  color: rgb(0, 0, 0);
  height: 15%;
  width: 99%;
}

.logo{
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 4px;

}

mat-sidenav {
  width: 15%;
  height: 94.5%;
  margin: 16px;
  width: 200px;
  align-items: center;
  border-right: none;
  background: #ffffffea;
  color: #aca9d5 !important;
  border-radius: 10px;
  text-align: center;
}



.content {
  height:94.5%;
  position: relative;
  width: auto !important;
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  display: flex;
  justify-content: left;
  align-items: left;
  overflow-y : auto;
  font-size: 15px;
  color: rgb(0, 0, 0);
}

.username{
  font-size: x-small;
  padding-left: 5px;

}

.search::placeholder{
   color: black;
   opacity: 0.9;
}

mat-sidenav-container {
  height: 100% !important;
  align-items: center;

}


.icon{
  color: red;
  font-size: 30px;
  font-weight: bold;
  padding:0%;
  margin-top: 15%;
  margin: 0 auto;

}
.menu-button {
  display: flex;
  font-size: 14px;
  padding:0%;
  margin: 0% auto;
  margin-top: 15%;
  width: 100px;
  align-items: center;
  padding-left: 20px;
}

.icon-size{
  font-size: 25px;
}
.inner{
  margin: auto;
}
.other{
  margin-left: 10px;
}

.chat{
  margin-left: 15px;
}
.mat-button:focus {
  background:pink;
}

.avatar {
  margin-top: 16px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.spacing{
  justify-content: space-between;

}
.us {
  padding-top: 20px;
  border-radius: 100%;
  margin-right: 0;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}



.wrapper {
  position: relative;
  display: flex;
  min-width: 200px;
  margin:0 auto;
  margin-top: 35px;
}


.search-icon {
  position: absolute;
  top: 9px;
  left: 8px;
  width: 14px;
}

.clear-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 10px;
  cursor: pointer;

}


.search{
  text-align: center;
  border: px solid grey;
  border-radius: 15px;
  height: 35px;
  width: 320px !important;
  font: bold;

  background-Color: rgb(201, 201, 201) !important;
}

.image{
  width:50%;
  padding-top:5px;
}
