<meta name="viewport" content="width=device-width, initial-scale=1">
<button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
  <mat-icon *ngIf="!sidenav.opened">
    menu
  </mat-icon>
  <mat-icon *ngIf="sidenav.opened">
    close
  </mat-icon>
</button>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8 left">
    <div><img src="/assets/img/fazeal-logo.png" class="image" /></div>

    <button mat-button routerLink='userdashboard' class="menu-button">
      <mat-icon class="inner">dashboard</mat-icon><br>
      <span class="inner">Dashboard</span>
    </button>

    <button mat-button routerLink='showImages' class="menu-button">
      <mat-icon class="inner other">image_search</mat-icon><br>
      <span class="other">Gallery</span>
    </button>

    <button mat-button routerLink='upload' class="menu-button">
      <mat-icon class="inner other">file_upload</mat-icon><br>
      <span class="inner other">Upload</span>
    </button>

    <button mat-button class="menu-button">
      <i class="bi bi-chat icon-size inner chat"></i><br>
      <span class="inner chat">Chat</span>
    </button>

    <button *ngIf="admin" mat-button routerLink='users' class="menu-button">
      <mat-icon class="inner other">person_search</mat-icon><br>
      <span class="inner other">Manage Users</span>
    </button>
    <mat-icon class="icon" (click)="logout()">power_settings_new</mat-icon>


  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>

    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
