.inner-box{
  background-color: white !important;
  margin:10px;
  border-radius: 15px;
  height: 134px;
  text-align: left !important;
  padding-left: 13px;
  padding-top: 8px;
  overflow-y : auto;

}

