<div class="title">
  Activity Center
  <div class="inner-box">
    Activity 1 <br>Activity 2<br>
    Activity 1 <br>Activity 2<br>Activity 1 <br>Activity 2<br>Activity 1 <br>Activity 2<br>Activity 1 <br>Activity
    2<br>Activity 1 <br>Activity 2<br>
  </div>
</div>
