<div class="login-page">
   <mat-card class="mat-elevation-z12">
   <mat-card-title class="text">Admin: Create User</mat-card-title>
    <mat-card-content>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <mat-form-field>
        <input
          matInput
          type="text"
          class="form-control"
          placeholder="Username"
          formControlName="username"
          required/>
        <mat-icon matSuffix>perm_identity</mat-icon>
        </mat-form-field>
    <div *ngIf="getControl.username.touched && getControl.username.invalid" class="text-danger">
      <div *ngIf="getControl.username.errors.required">UserName is required.</div>
      <div *ngIf="getControl.username.errors?.minlength">Minimum 4 character are required.</div>
    </div>
    </div>
      <div class="form-group">
        <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Email"
          class="form-control"
          formControlName="email"
          required/>
        <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <div *ngIf="getControl.email.touched && getControl.email.invalid" class="text-danger">
      <div *ngIf="getControl.email.errors.required">Email is required.</div>
      <div *ngIf="getControl.email.errors.email">Email seems invalid.</div>
    </div>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="First Name"
            class="form-control"
            formControlName="firstName"
            required/>
        </mat-form-field>
        <div *ngIf="getControl.firstName.touched && getControl.firstName.invalid" class="text-danger">
          <div *ngIf="getControl.firstName.errors.required">First Name is required.</div>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Last Name"
            class="form-control"
            formControlName="lastName"
            required/>
        </mat-form-field>
        <div *ngIf="getControl.lastName.touched && getControl.lastName.invalid" class="text-danger">
          <div *ngIf="getControl.lastName.errors.required">Last Name is required.</div>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Date of Birth"
            class="form-control"
            formControlName="dob"
            required/>
        </mat-form-field>
        <div *ngIf="getControl.dob.touched && getControl.dob.invalid" class="text-danger">
          <div *ngIf="getControl.dob.errors.required">Date of Birth is required.</div>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          class="form-control"
          formControlName="password"
          required
        />
        <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <div *ngIf="getControl.password.touched && getControl.password.invalid" class="text-danger">
      <div *ngIf="getControl.password.errors.required">Password is required.</div>
      <div *ngIf="getControl.password.errors?.minlength">Min 8 characters are required.</div>
      <div *ngIf="getControl.password.invalid">Password is Invalid!</div>
    </div>
      </div>
      <div class="center">
        <button class="btn btn-primary button">Sign Up</button>
         <div class="center1">
        <button class="btn btn-danger button" (click)="onCancel()">Cancel</button>
      </div>
      </div>
      <div class="alert alert-warning" *ngIf="getControl.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>
    </mat-card-content>
    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
    </mat-card>
  </div>

