<div class="container">
  <div class="text-image">
    <img src="./assets/img/banner.png" class="header_image">
    <div class="text1">Hello, Khaled!</div>
    <div class="text2">Welcome back to fazeal</div>
  </div>
  <div class="userimage">
    <mat-icon class=" mar gray">settings</mat-icon>
    <mat-icon class="mar gray">notifications_none</mat-icon>
    <img class="circular-square mar" width='55px' src="/assets/img/user.png">
  </div>
</div>
