.header_image {
  display: flex;
  float: left;
  width: 90% !important;
}

.userimage{
  align-items:center;
  display: flex;
  float: right;
  padding-right: 10px;

}
.container{
  position: relative;
  display: flex;
  margin-top:10px;
  margin-left: 5px;
  max-width: 100%;
  margin-bottom: 15px;
}
.text-image{
  color: white;
}
.text1{
    position: absolute;
    top: 44px;
    left: 60px;
    font-size: 35px;
    font-family: "Helvetica Neue",Helvetica,Arial;
}
.text2{
  position: absolute;
    top: 84px;
    left: 60px;
    font-size: 24px;
    font-family: "Helvetica Neue",Helvetica,Arial;
}
.mar{
  margin: 10px;
}
.gray{
  border-image: initial;
  font-size:30px;
  font-weight:1px !important;
color: rgba(109, 106, 106, 0.938) !important;
}
