<meta name="viewport" content="width=device-width, initial-scale=1" />
<div id="background">
  <mat-toolbar class="center tool">
    <span href="http://" class="mr-5 link">Why Fazeal?</span>
    <span href="http://" class="mr-5 link">Team</span>
    <span href="http://" class="mr-5 link">Features</span>
    <span href="http://" class="mr-5 link">Pricing</span>
  </mat-toolbar>

  <div class="cards">
    <mat-card class="mat-elevation-z12 card-container">
      <mat-card-content>
        <form name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
          <mat-card-title class="title1">
            <strong class="fontsize">Sign Up</strong>
          </mat-card-title>
          <div class="form-group field-left">
            <label>First Name</label>
              <input type="text" class="form-control" formControlName="firstName" [ngClass]="{
                'is-invalid':
                  form.get('firstName').touched && form.get('firstName').invalid
              }" required/>
            <div *ngIf="form.get('firstName').touched && form.get('firstName').invalid"  class="invalid-feedback">
              <div *ngIf="form.get('firstName').errors.required">
                First Name is required
              </div>
            </div>
          </div>
          <div class="form-group field-right">
            <label>Last Name</label>
              <input type="text" class="form-control" formControlName="lastName" [ngClass]="{
                'is-invalid':
                  form.get('lastName').touched && form.get('lastName').invalid
              }" required/>
            <div *ngIf="form.get('lastName').touched && form.get('lastName').invalid"  class="invalid-feedback">
              <div *ngIf="form.get('lastName').errors.required">
                Last Name is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username"
              [ngClass]="{
                'is-invalid':
                  form.get('username').touched && form.get('username').invalid
              }"
              required/>
            <div class="invalid-feedback">
              <div>
                Username must be 4 characters
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="email"
              [ngClass]="{
                'is-invalid':
                  form.get('email').touched && form.get('email').invalid
              }"/>
            <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
              <div *ngIf="form.get('email').errors.required">
                Email is required
              </div>
              <div *ngIf="form.get('email').errors.email">
                Email must be a valid email Address
              </div>
            </div>
          </div>
          <div class="form-group field-left">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password"
              [ngClass]="{
                'is-invalid':
                  form.get('password').touched && form.get('password').invalid
              }"/>
            <div *ngIf="form.get('password').touched && form.get('password').invalid"  class="invalid-feedback">
              <div *ngIf="form.get('password').errors.required">
                Password is required
              </div>
              <div *ngIf="form.get('password').errors.pattern">
                Password must be atleast 8 characters, contain numbers and letters
              </div>
            </div>
          </div>
          <div class="form-group field-right">
            <label>Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword"
                   [ngClass]="{'is-invalid':form.get('confirmPassword').touched && form.get('confirmPassword').invalid}"/>
              <mat-error  *ngIf="form.hasError('passwordsNotMatching')">Passwords not matching</mat-error>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Date Of Birth</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dob"  [ngClass]="{
                'is-invalid':
                  form.get('dob').touched && form.get('dob').invalid
              }" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker></mat-datepicker>
              <div *ngIf="form.get('dob').touched && form.get('dob').invalid"  class="invalid-feedback">
                <div *ngIf="form.get('dob').errors.required">
                  Date of birth is required
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="center butn">
            <button class="btn btn-lg button" [disabled]="!form.valid">
              Sign Up
            </button>
          </div>
          <div class="alert alert-warning" *ngIf="form.hasError && isSignUpFailed">
            Signup failed!&nbsp;&nbsp;{{ errorMessage }}
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-toolbar class="center mat-elevation-z0 footer">
    <span href="http://" class="mr-5 link">Company</span>
    <span href="http://" class="mr-5 link">About</span>
    <span href="http://" class="mr-5 link">Blog</span>
    <span href="http://" class="mr-5 link">Shop</span>
  </mat-toolbar>
  <div class="clear"></div>
</div>
