.leftcontent{
  border-radius: 12px;
  margin-left: 8% !important;
  margin-top: 8% !important;
  margin-bottom: 5% !important;
  margin-right: 12%;
  position: relative;
  min-width: 60% !important;
  background-color: #a6effd;
}

.tool{
  background-color: rgb(104, 211, 238,0.7);
  height:6%;
  border-bottom: 1px solid #a6effd;
}

.cards{
  padding-top: 2% !important;
}

.title1{
  padding-bottom: 2%;
}

.icon1{
  position: absolute;
  right:5%;
  color:blue
}

.logo{
  padding-top: 3%;
  position: absolute;
  right: 8%;
 }

label {
  display: block;
  font-family: -webkit-pictograph;
  font-weight: normal;
  margin-bottom: 0px;
}

mat-card {
  width: 32%;
  margin: auto;
  border-radius: 12px;
}

.link {
  color: white;
  font-size: 17px;
  margin: 0px !important;
  padding: 0 21px;
}

mat-card-content {
  width:100%;
}

mat-form-field {
  display: block;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0.08em !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.center1 {
  display: inline-block;
  text-align: center;
  align-items: center;
}

.nav-link{
  display: inline-block;
  font-size: 2rem !important;
}

.button{
  width: 100%;
  color: aliceblue;
  background-color: #32cdee;
}

.card-container {
  display: flex;
}

#background {
  color: #a5efff;
  height: 100vh;
  background: url(../../assets/img/loginSignup.jpg) no-repeat center fixed ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.box {
  margin: 5% auto;
  background-color: #a5efff;
  width: 90%;
}

.welcome {
  padding-top: 35%;
  padding-left: 12%;
  padding-bottom: 8%;
}

.fontsize {
  font-family: -webkit-pictograph;
}

.twitt {
  position: absolute;
  right:9%;
  color:#03d1ff;
}

.logoimg {
   position: absolute;
   left: -73px;
   top: -57px;
   display: flex;
}

.secimg {
  position: absolute;
    right: -257px;
    bottom: -53px;
    display: flex;
}

@media (max-width: 1023px) {

  .footer{
    position: fixed !important;
  }

  .field-right {
      width: 100% !important;
      float: none !important;
       margin-top: 10px !important;
  }

  .field-left {
      width: 100% !important;
      display: inline !important;
  }

  .link {
     padding: 0 6px;
     font-size: 15px;
  }

  mat-card.mat-card.mat-focus-indicator.mat-elevation-z12.card-container {
      width: 89%;
  }

  mat-card-content.mat-card-content {
    width: 100%;
  }

  mat-card-content.mat-card-content .secimg {
    bottom: -5%;
    margin-right: 0%;
    right: -37px;
  }

  #background {
    height: 150vh;
  }

  .twitt {
    position: absolute;
    right:15%;
  }

}

.clear {
  clear: both;
}

.footer{
  background-color: rgb(104, 211, 238, 0.7);
  height: 6%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #a6effd;
}

.placeholderimg {
  width: 53%;
}

.form-group {
  margin: 0px 0px 9px 0px;
}

.form-control {
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid #5392cd;
  box-shadow: none;
  height: 29px;
}

form {
  margin-top: 3% !important;
}

.mat-form-field-infix {
  width: 100%;
}

.mat-form-field-infix {
  padding: 0px;
  border: 0px;
}

.mat-error {
  font-size: smaller;
}

.invalid-feedback, .mat-error {
  line-height: 12px;
  font-size: xx-small;
}

.field-left {
  width: 45%;
  display: inline-block;
}

.field-right {
  width: 45%;
  float: right;
}

.alert-warning {
  font-size: small;
}
