<div class="title">
  Votes Poll
  <div class="inner-box">
    family1 - vote1 <br>family1 - vote1<br>
    family2 - vote1<br>family1 - vote3<br>
    family1 - vote2 <br>family2 - vote2<br>

  </div>
</div>
