<meta name="viewport" content="width=device-width, initial-scale=1">
<div id="background">
  <div class="cards">
    <mat-card class="mat-elevation-z12">
      <mat-card-content >
      <img src="./assets/img/fazeal-hor.png" width="55%"><br><br><br>
     <div class="text1">Security info updated</div> <br>
      <div class="text2"> Your password was successfully changed!</div>
     <br><br>
      <div class="form-group">
        <button class="btn btn-lg button" routerLink="../login">Sign In</button>
      </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
