.cards{
  padding-top: 8% !important;
}
mat-card {
  width: 26%;
  margin: auto;
  border-radius: 12px;
}
mat-card-content {
  margin-top: 20px;
 text-align: center;
}
.text1{
  font-size: 20px;
  font-weight: normal;
}
.text2{
  font-size: 16px;
}
.button{
  font-size: 16px !important;
  color: aliceblue;
  background-color: #32cdee;
}
#background {
  color: #a5efff;
  height: 100vh;
  background: url(../../../assets/img/loginSignup.jpg) no-repeat center fixed ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1023px) {
  mat-card.mat-card.mat-focus-indicator.mat-elevation-z12.card-container {
    flex-wrap: wrap;
    max-width: 89%;
  }
  mat-card-content.mat-card-content {
    width: 100%;
  }
  mat-card-content.mat-card-content  {
    right: -23px;
  }
  mat-card.mat-card.mat-focus-indicator.mat-elevation-z12.card-container {
    width: 100% !important;
  }
  .mat-card{
    width: 85%;
    margin-top: 25%;
  }
}
